*
{
    padding: 0px;
    margin: 0px;
}

html
{
    height: 100%;    
}

body
{
    background-color: black;
    color: silver;
    height: 100%;
}

header
{
	height: 3em;
	margin-left: 3%;
	margin-right: 3%;
}

main
{
	margin-left: 3%;
	margin-right: 3%;
}

img
{
	vertical-align: middle;
}

input
{
	padding: 0.2em;
}

textarea 
{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

button
{
	padding: 0.2em;
}
