*
{
    padding: 0px;
    margin: 0px;
}

html
{
    height: 100%;    
}

body
{
    background-color: black;
    color: silver;
    height: 100%;
}

header
{
	height: 3em;
	margin-left: 3%;
	margin-right: 3%;
}

main
{
	margin-left: 3%;
	margin-right: 3%;
}

img
{
	vertical-align: middle;
}

input
{
	padding: 0.2em;
}

textarea 
{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

button
{
	padding: 0.2em;
}

.Dialog
{
	position : fixed;
	background-color : green;
	border : 0.25em solid black;
	padding : 0.1em;
	top : 50%;
	left : 50%;
	width : 38.5em;
	height : 12em;
	margin-left : -19em;
	margin-top : -6em;
	visibility : hidden;
	font-family : Verdana;
	font-size : 1em;
}

.DialogCloseButton
{
	position : absolute;
	top : -1px;
	right : -1px;
	border : 1px solid black;
	line-height : 120%;
	padding : 0.1em 0.5em;
	margin : 0;
	font-weight : bold;
	font-family : sans-serif;
	cursor:pointer;
}
